@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model appReservas.Models.Restaurante
<div class="container mt-4">
    <h3>Nuevo restaurante</h3>
    <form method="post" asp-area="Admin" asp-controller="Restaurants" asp-action="Create">
        @Html.AntiForgeryToken()
        <partial name="_FormRestaurante" model="Model" />
        <button class="btn btn-primary">Crear</button>
        <a asp-area="Admin" asp-controller="Restaurants" asp-action="Index" class="btn btn-link">Volver</a>
    </form>
</div>
